<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="31 days and nights of Python">
    <link href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
  </head>

<body id="index" class="home">
    <div class="navbar navbar-fixed-top" id="topnav">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ SITEURL }}"><img class="logo" alt="julython.org" src="{{ SITEURL }}/theme/images/julython_logo_small.png"/> Blog</a>
            
            <div class="nav">
              <ul class="nav">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                    <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
             </ul>
           </div>
         </div>
       </div>
     </div>
{% include 'github.html' %}
        
     <div class="container-narrow  section-container ">
	   <div class="row-fluid">
	   	<div class="">
	   		
        {% block content %}
        {% endblock %}
	   	</div>
	   	<hr />
       <div class="footer">
         Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
       </div>
	   </div>       	
     </div>      



{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
</body>
</html>
